html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto';
}

body > div {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header {
  padding: 10px;
  margin: 0;
  display: flex;
  color: white;
  background-color: #0d1b2a;
  align-items: center;
  gap: 10px;
}

header > :nth-child(2) {
  flex-grow: 2;
}

header h1 {
  font-weight: 100;
  margin: 0;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

main.with-aside {
  flex-direction: row;
  gap: 20px;
}

main aside {
  width: 200px;
  border-right: 1px solid #e0e1dd;
}