.homeOptions {
  display: flex; 
}

.homeOption {
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.homeOption a {
  display: flex;
  padding: 10%;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  background-color: #415a77;
  color: white;
  border-radius: 10px;
  border: none;
  aspect-ratio: 1/1;
  font-size: 3em; 
  font-weight: 200;
  text-decoration: none;
  text-align: center;
}

.homeOption a:hover,
.homeOption a:focus {
  background-color: #778da9;
}